.page-container {
    display: grid;
    grid-template-columns: 1.9fr 1fr;

}

.page-container > .left-column > .fish-images {
    background-color: rgb(29, 29, 29);
}


.page-container > .left-column > .fish-images img{
    height: 100%;
    width: 100%;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    margin-bottom: -3px;
}


.page-container > .right-column {
    background-color: rgb(29, 29, 29);
}

.page-container > .right-column > .headings ul li {
    margin-top: -15px;
    font-family: 'Bungee', cursive;
    background-color: rgb(230,208,118);
    width: 500px;
    height: 140px;
    display: flex;
    justify-content:center;
    align-items: center;
    margin-bottom: 30px;
    font-size: 2em;
    border-radius: 10px;
    line-height: 40px;
    padding-left: 10px;
}

.footer {
    height: 400px;
    background-color: rgb(29, 29, 29);
    box-shadow: inset 2px 25px 64px -37px rgba(255,255,255,1);
}




.footer > .social-media-wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 90px;
    border-top: 10px;
    border-top-color: white;
    
    
}

.footer > .social-media-wrapper a {
    color: rgb(230,208,118);
    font-size: 4em;
    transition: 0.5s;
}
.footer > .social-media-wrapper a:hover {
    color: rgb(139,126,72)
}
